---
name: Snyk / scan
on:
  schedule:
    - cron: '0 0 * * *'
jobs:
  backstage-rhaap-snyk-scan:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./plugins/backstage-rhaap/
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get Node v18
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Setup yarn
        run: npm install -g yarn

      - name: Get Node v18 with yarn caching
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: yarn

      - name: Install dependencies
        run: yarn install

      - name: Test - Run Snyk test
        uses: snyk/actions/node@master
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: test --sarif
          args: -d --all-projects --sarif-file-output=snyk_test.sarif

      - name: Code test - Run Snyk code test
        uses: snyk/actions/node@master
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: code test --sarif
          args: --all-projects --sarif-file-output=snyk_code_test.sarif

      - name: Monitor - Run Snyk monitor
        uses: snyk/actions/node@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: --all-projects monitor

      # - name: Create SARIF directory and move SARIF files -check
      #   run: |
      #     cd ../..
      #     find . -name 'snyk_test.sarif'
      #     pwd
      #     ls
      #     mkdir sarif_files &&
      #     mv snyk_test.sarif snyk_code_test.sarif sarif_files/

      # - name: Upload result to GitHub Code Scanning
      #   uses: github/codeql-action/upload-sarif@v2
      #   with:
      #     sarif_file: sarif_files

  backstage-rhaap-backend-snyk-scan:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./plugins/backstage-rhaap-backend/
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get Node v18
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: yarn install

      - name: Test - Run Snyk test
        uses: snyk/actions/node@master
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: test --sarif
          args: -d --all-projects --sarif-file-output=snyk_test_backend.sarif

      - name: Code test - Run Snyk code test
        uses: snyk/actions/node@master
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: code test --sarif
          args: --all-projects --sarif-file-output=snyk_code_test_backend.sarif

      - name: Monitor - Run Snyk monitor
        uses: snyk/actions/node@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: --all-projects monitor

  scaffolder-backend-module-backstage-rhaap-backend-snyk-scan:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./plugins/scaffolder-backend-module-backstage-rhaap/
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get Node v18
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: yarn install

      - name: Test - Run Snyk test
        uses: snyk/actions/node@master
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: test --sarif
          args: -d --all-projects --sarif-file-output=snyk_test_scaffolder.sarif

      - name: Code test - Run Snyk code test
        uses: snyk/actions/node@master
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: code test --sarif
          args: --all-projects --sarif-file-output=snyk_code_test_scaffolder.sarif

      - name: Monitor - Run Snyk monitor
        uses: snyk/actions/node@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: --all-projects monitor
